{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ texts.DBD.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}{{ texts.DBD.PAGE_IDENTIFIER }}{% endblock %}

{% block content %}
  {% set pageHeading = texts.DBD.HEADING %}
  {% set notAvailable = texts.DBD.NOT_AVAILABLE %}

  {% set summonsDate = "" %}
  {% if dbd and dbd.summonsDate %}
    {% set summonsDate = dbd.summonsDate %}
  {% endif %}

  {% set courtName = notAvailable %}
  {% if dbd and dbd.courtName %}
    {% set courtName = dbd.courtName %}
  {% endif %}

  {% set guidanceCards = texts.DBD.GUIDANCE_CARDS %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p class="govuk-body-l">
        {{ texts.DBD.INTRO }}
      </p>

      {% call govukInsetText() %}
        <p class="govuk-body">
          <strong>{{ texts.DBD.SUMMONS_DATE_LABEL }}:</strong>
          {% if summonsDate %}
            {{ summonsDate | translateDate("YYYY-MM-DD", "dddd D MMMM YYYY", texts.INTERFACE.HTML_LANG) }}
          {% else %}
            {{ notAvailable }}
          {% endif %}
        </p>
        <p class="govuk-body">
          <strong>{{ texts.DBD.COURT_LABEL }}:</strong> {{ courtName }}
        </p>
      {% endcall %}

      {{ govukButton({
        text: texts.DBD.START_RESPONSE,
        href: startResponseUrl
      }) }}

      <h2 class="govuk-heading-l">
        {{ texts.DBD.INFORMATION_HEADING }}
      </h2>

      <ul class="govuk-grid-row card-group">
        {% for card in guidanceCards %}
          <li class="govuk-grid-column-one-half card-group__item">
            <div class="card card--clickable" data-test="dbd-{{ card.id }}">
              <h3 class="govuk-heading-s card__heading">
                <a class="govuk-link card__link govuk-link--no-visited-state" href="?guidance={{ card.id }}">
                  {{ card.title }}
                </a>
              </h3>
              <p class="govuk-body card__description">{{ card.description }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
