{% extends "./layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  {{ texts.COOKIE_SETTINGS_PAGE.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}CookieSettings{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ url('cookie-settings.post') }}" method="post">

        <div class="govuk-body">

           <noscript>
            <p>
              {{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_GUIDANCE }}
            </P>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_ITEM_1 }}</li>
              <li>{{ texts.COOKIE_SETTINGS_PAGE.JAVASCRIPT_ITEM_2 }}</li>
            </ul>
          </noscript>

          {% if analyticsCookie == 'yes' %}
            {% set radioAnalyticsYesChecked = true %}
          {% endif %}
          {% if analyticsCookie == 'no' %}
            {% set radioAnalyticsNoChecked = true %}
          {% endif %}

          {% if returnUrl %}
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  {{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_HEADING }}
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                  {{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_MESSAGE }} <a class="govuk-notification-banner__link" href="{{returnUrl}}">{{ texts.COOKIE_SETTINGS_PAGE.SAVE_SUCCESS_LINK_TEXT }}</a>.
                </p>
              </div>
            </div>
          {% endif %}

          <h1 class="govuk-heading-l">
            {{ texts.COOKIE_SETTINGS_PAGE.HEADING }}
          </h1>
          <p>
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_GUIDANCE_1 }}
          </p>
          <p>
            {{ texts.COOKIE_SETTINGS_PAGE.COOKIE_GUIDANCE_2 }}
          </p>

          <h2 class="govuk-heading-m">
            {{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_HEADING }}
          </h2>
          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_GUIDANCE }}
          </p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.HEADINGS[0] }}</th>
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.HEADINGS[1] }}</th>
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.HEADINGS[2] }}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for row in range(0, 2) -%}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.ROWS[row][0] }}</td>
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.ROWS[row][1] }}</td>
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ESSENTIAL_TABLE.ROWS[row][2] }}</td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>

          <h2 class="govuk-heading-m">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_HEADING }}
          </h2>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_1 }}
          </p>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_2 }}
          </p>
          <ul class="govuk-list govuk-list--bullet">
            {% for item in range(0, 3) -%}
              <li>{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_2_BULLETS[item] }}</li>
            {%- endfor %}
          </ul>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_3 }}
          </p>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_4 }}
          </p>

          <p class="govuk-body">
            {{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_GUIDANCE_5 }}
          </p>


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.HEADINGS[0] }}</th>
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.HEADINGS[1] }}</th>
                <th scope="col" class="govuk-table__header">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.HEADINGS[2] }}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for row in range(0, 11) -%}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.ROWS[row][0] }}</td>
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.ROWS[row][1] }}</td>
                  <td class="govuk-table__cell">{{ texts.COOKIE_SETTINGS_PAGE.ANALYTICS_TABLE.ROWS[row][2] }}</td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>


          {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "analyticsUsage",
            fieldset: {
              legend: {
                text: texts.COOKIE_SETTINGS_PAGE.ANALYTICS_ACCEPT_QUESTION,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                id: "analyticsYes",
                value: 'yes',
                checked: radioAnalyticsYesChecked,
                text: texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_RADIO_YES
                
              },
              {
                id: "analyticsNo",
                value: 'no',
                checked: radioAnalyticsNoChecked,
                text: texts.COOKIE_SETTINGS_PAGE.COOKIE_ANALYTICS_RADIO_NO
              }
            ]
          }) }}


          {# Submit form #}
          {{ govukButton({
            text: texts.COOKIE_SETTINGS_PAGE.SAVE_BUTTON_TEXT,
            attributes: {
            id: "cookieSaveButton"
          }
          }) }}

          <input type="hidden" name="returl" value="{{ returnURL }}">
          <input type="hidden" name="_csrf" value="{{ csrftoken }}">

        </div>

      </form>
    </div>
  </div>

{% endblock %}

{% block bodyEnd %}

<script src="../js/cookies.js"></script>

<script nonce="{{ nonce }}">
  
  document.querySelector('#cookieSaveButton').addEventListener('click', function(event){
    // update usage cookie
    if (document.getElementById("analyticsYes").checked == true) {
      window.GOVUK.setConsentCookie({'usage': true});
    } else {
      window.GOVUK.setConsentCookie({'usage': false});
    }
    return true;
  });
  
</script>

{% endblock %}