{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
  {{ texts.DIGITAL_SUMMONS.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}{{ texts.DIGITAL_SUMMONS.PAGE_IDENTIFIER }}{% endblock %}

{% block content %}
  {% set pageHeading = texts.DIGITAL_SUMMONS.HEADING %}
  {% set notAvailable = texts.DIGITAL_SUMMONS.NOT_AVAILABLE %}

  {% set summonsDate = "" %}
  {% if digitalSummons and digitalSummons.summonsDate %}
    {% set summonsDate = digitalSummons.summonsDate %}
  {% endif %}

  {% set courtName = notAvailable %}
  {% if digitalSummons and digitalSummons.courtName %}
    {% set courtName = digitalSummons.courtName %}
  {% endif %}

  {% set guidanceCards = texts.DIGITAL_SUMMONS.GUIDANCE_CARDS %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p class="govuk-body-l">
        {{ texts.DIGITAL_SUMMONS.INTRO }}
      </p>

      {% call govukInsetText() %}
        <p class="govuk-body">
          <strong>{{ texts.DIGITAL_SUMMONS.SUMMONS_DATE_LABEL }}:</strong>
          {% if summonsDate %}
            {{ summonsDate | translateDate("YYYY-MM-DD", "dddd D MMMM YYYY", texts.INTERFACE.HTML_LANG) }}
          {% else %}
            {{ notAvailable }}
          {% endif %}
        </p>
        <p class="govuk-body">
          <strong>{{ texts.DIGITAL_SUMMONS.COURT_LABEL }}:</strong> {{ courtName }}
        </p>
      {% endcall %}

      {{ govukButton({
        text: texts.DIGITAL_SUMMONS.START_RESPONSE,
        href: startResponseUrl
      }) }}

      <h2 class="govuk-heading-l">
        {{ texts.DIGITAL_SUMMONS.INFORMATION_HEADING }}
      </h2>

      <div class="govuk-grid-row digital-summons-cards">
        {% for card in guidanceCards %}
          <div class="govuk-grid-column-one-half govuk-!-margin-bottom-4">
            <a class="digital-summons-card" href="?guidance={{ card.id }}">
              <h3 class="govuk-heading-s digital-summons-card__title">
                {{ card.title }}
              </h3>
              <p class="govuk-body digital-summons-card__description">
                {{ card.description }}
              </p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
