{% extends "../../layouts/default-gds.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ texts.RESPONSE_INFO.ELIGIBILITY.HEADING }} - {{ texts.INTERFACE.SERVICE_TITLE }} - {{ texts.INTERFACE.GOV }}
{% endblock %}

{% block page_identifier %}{{ texts.RESPONSE_INFO.ELIGIBILITY.PAGE_IDENTIFIER }}{% endblock %}

{% block containerStart %}
  {{ super() }}
  {% include "../../includes/back-link-gds.njk" %}
{% endblock %}

{% block content %}

  {% set welsh = texts.INTERFACE.HTML_LANG == "cy" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{ texts.RESPONSE_INFO.ELIGIBILITY.HEADING }}</h1>

      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.CONTENT_1 }}</p>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.CONTENT_2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.BULLET_2_1 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.BULLET_2_2 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.BULLET_2_3 }}</li>
      </ul>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.INTRO.CONTENT_3 }}</p>

      <h2 class="govuk-heading-m">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_DISORDERS.TITLE }}</h2>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_DISORDERS.CONTENT_1 }}</p>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_DISORDERS.CONTENT_2 }}</p>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_DISORDERS.CONTENT_3 }}</p>

      <h2 class="govuk-heading-m">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.TITLE }}</h2>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.CONTENT_1 }}</p>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.CONTENT_2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.BULLET_2_1 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.BULLET_2_2 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.BULLET_2_3 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.BULLET_2_4 }}</li>
      </ul>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.MENTAL_CAPACITY.CONTENT_3 }}</p>

      <h2 class="govuk-heading-m">{{ texts.RESPONSE_INFO.ELIGIBILITY.BAIL.TITLE }}</h2>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.BAIL.CONTENT_1 }}</p>

      <h2 class="govuk-heading-m">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.TITLE }}</h2>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.CONTENT_1 }}</p>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.CONTENT_2 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_2_1 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_2_2 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_2_3 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_2_4 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_2_5 }}</li>
      </ul>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.CONTENT_3 }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_3_1 }}</li>
        <li>{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.BULLET_3_2 }}</li>
      </ul>
      <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.CONTENT_4 }}</p>
      <div class="govuk-body govuk-!-margin-bottom-6">
        <p class="govuk-body">{{ texts.RESPONSE_INFO.ELIGIBILITY.CONVICTIONS.CONTENT_5 }}</p>
      </div>

      {{ govukButton({
        text: texts.RESPONSE_INFO.COMMON.START_RESPONSE,
        href: responseStartUrl
      }) }}

    </div>
  </div>

{% endblock %}
