.dbd-cards {
  margin-top: govuk-spacing(2);
}

.dbd-card {
  border: 1px solid govuk-colour("mid-grey");
  border-left: 5px solid govuk-colour("blue");
  box-sizing: border-box;
  color: govuk-colour("black");
  display: block;
  height: 100%;
  min-height: 130px;
  padding: govuk-spacing(3);
  text-decoration: none;
}

.dbd-card:visited {
  color: govuk-colour("black");
}

.dbd-card__title {
  color: govuk-colour("blue");
  margin-bottom: govuk-spacing(2);
  text-decoration: underline;
}

.dbd-card__description {
  color: govuk-colour("dark-grey");
  margin-bottom: 0;
}

.dbd-card:hover {
  border-color: govuk-colour("blue");
  box-shadow: 0 0 0 3px govuk-colour("blue");
}

.dbd-card:hover .dbd-card__title {
  text-decoration-thickness: 3px;
}

.dbd-card:focus {
  background-color: govuk-colour("yellow");
  box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
  outline: 3px solid transparent;
}

.dbd-card:focus .dbd-card__title {
  color: govuk-colour("black");
  text-decoration: none;
}

.dbd-card:focus .dbd-card__description {
  color: govuk-colour("black");
}
