// Import GOV.UK frontend toolkit and some base styles.

$govuk-colours-organisations: govuk-organisation-colours;
$govuk-new-organisation-colours: true !default;

// Overriding link colour for Enhanced Contrast (DAC compliant)
// Blue shade 25% (#16548a)
$govuk-functional-colours: (link: 	#16548a);

@import "node_modules/govuk-frontend/dist/govuk/index.scss";
@import "./custom-components/index.scss"; 
@import "jd-main.scss";

// Overridden font-size for alignment issues
.govuk-footer {
  font-size: 16px;
};