
<script src="{{ assetPath }}js/jquery.min.js"></script>

<!-- Init GDS toolkit -->
<script src="{{ assetPath }}js/govuk/govuk-frontend.min.js" type="module"></script>

<script nonce="{{ nonce }}" type="module">
  import { initAll } from '{{ assetPath }}js/govuk/govuk-frontend.min.js'
  initAll()
</script>
