
<script src="{{ assetPath }}js/jquery.min.js"></script>

<!-- Init GDS toolkit -->
<script src="{{ assetPath }}js/govuk/all.js"></script>

<script nonce="{{ nonce }}">
  $(document).ready(function () {
    window.GOVUKFrontend.initAll();
  })
</script>
